<!DOCTYPE html>
<html ng-app="myapp">
	<head>
		<meta name="viewport" content="width=device-width" />
		<title>Demo</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css' />
		<link rel='stylesheet' href='/stylesheets/dashboard.css' />
	</head>
	<body ng-controller="globalCtrl">
		<!--header-->
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand">Project name</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse" ng-switch on="loginstatus">
					<ul class="nav navbar-nav" ng-controller="navBarCtrl">
						<li ng-class="{active:x.active}" ng-repeat="x in Menus" ng-click="onclick($index);"><a href="#{{x.url}}">{{x.name}}</a></li>
					</ul>
					<!--登录前-->
					<ul class="nav navbar-nav navbar-right" ng-switch-when="false">
						<li><a data-target="#myModal" data-toggle="modal" ng-click="open();">登录</a></li>
					</ul>
					<!--登录后-->
					<ul class="nav navbar-nav navbar-right" ng-switch-when="true">
						<li uib-dropdown>
							<a id="simple-dropdown" href="#" uib-dropdown-toggle>{{user.name}}<span class="caret"></span></a>
							<ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
								<li><a ng-click="setting();">设置</a></li>
								<li><a ng-click="signout();">注销</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container-fluid">
			<div class="row">
				<!--菜单-->
				<div class="col-sm-3 col-md-2 sidebar" ng-controller="navSiderCtrl" ng-show="show">
					<ul class="nav nav-sidebar">
						<li ng-class="{active:x.active}" ng-repeat="x in list" ng-click="onclick($index);"><a href="#{{x.url}}">{{ x.name }}</a>
						</li>
					</ul>
				</div>
				<!--内容-->
				<div ng-class="{false: 'col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main', true: 'col-sm-12 col-md-12  main'}[isFullPage]" ng-view>
				</div>
			</div>
		</div>
	</body>
	<!--js-->
	<script type="text/javascript" src="/bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="/bower_components/angular-route/angular-route.js"></script>
	<script src="/bower_components/ui-bootstrap/ui-bootstrap-tpls-1.3.2.min.js"></script>
	<script src="/javascripts/app.js"></script>
	<script src="/javascripts/controllers/global.js"></script>
	<script src="/javascripts/controllers/navBar.js"></script>
	<script src="/javascripts/controllers/navSider.js"></script>
	<script src="/javascripts/controllers/home.js"></script>
	<script src="/javascripts/controllers/about.js"></script>
	<script src="/javascripts/controllers/userapi.js"></script>
	<script src="/javascripts/controllers/login.js"></script>
	<script src="/javascripts/controllers/profile.js"></script>
</html>

