<style type="text/css">
    .wiki_title {
        border-bottom: 1px solid #e5e5e5;
        padding-top:25px;
    }
</style>
<div >
    <h2>获取用户信息</h2>

    <h4 class="wiki_title">URL</h4>
    <p><code>http://localhost/api/user/1</code></p>

    <h4 class="wiki_title">支持格式</h4>
    <p>JSON</p>

    <h4 class="wiki_title">HTTP请求方式</h4>
    <p>GET</p>

    <h4 class="wiki_title">请求参数</h4>
    <p>无</p>

    <h4 class="wiki_title">返回结果</h4>
    <p><code>{ username: 'choi' , age :18 }</code></p>
</div>
